@model labdemo1.Model.Student
@{
    Layout = "~/Views/Shared/Master.cshtml";
}


<div>
    <form action="/Home/Create" method="post">
        
        <table class="table-responsive">
            <tbody>
                <tr>
                    <td>Name</td>
                    <td>
                        <input type="text" name="Name"/>
                    </td>
                    <td style="color:red">
                        @Html.ValidationMessage("Name")
                    </td>
                </tr>

                <tr>
                    <td>Address</td>
                    <td>
                        <input type="text" name="Address" />
                    </td>
                    <td style="color:red">
                        @Html.ValidationMessage("Address")
                    </td>
                </tr>

                <tr>
                    <td>Age</td>
                    <td>
                        <input type="text" name="Age" />
                    </td>
                    <td style="color:red">
                        @Html.ValidationMessage("Age")
                    </td>
                </tr>

                <tr>
                    <td>Email</td>
                    <td>
                        <input type="text" name="Email" />
                    </td>
                    <td style="color:red">
                        @Html.ValidationMessage("Email")
                    </td>
                </tr>

                <tr>
                    <td>
                        <input type="submit" name="btnCreate" value="Add New Record" />
                    </td>
                </tr>


            </tbody>
        
</table>    
<hr/>
<p class="alert-danger">
    @ViewBag.Message
</p>
    </form>
</div>